/clairvoyance/config.py
/clairvoyance/playground.ipynb
/clairvoyance/players.ipynb
__pycache__
/clairvoyance/playground2.ipynb
/clairvoyance/playground3.ipynb
playground4.ipynb
/clairvoyance/data/training
.vscode
/static/js
/clairvoyance/pytorch_model.ipynb
/clairvoyance/sklearn_models.ipynb
/clairvoyance/.ipynb_checkpoints