/clairvoyance/config.py
/clairvoyance/playground.ipynb
/clairvoyance/players.ipynb
__pycache__
/clairvoyance/playground2.ipynb
/clairvoyance/playground3.ipynb
/clairvoyance/playground4.ipynb
/clairvoyance/data/training
.vscode