{%extends 'base.html'%}

{%block head%}
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@300&display=swap" rel="stylesheet">
    <style>
      table{
        text-align: center;
      }
      .input-group-btn.input-space{
        padding-left:15px;
      }
    </style>
{%endblock%}
{%block body%}
<div class=container>
<table class="table table-striped table-dark">
  <thead>
    <th colspan="4">Champions</th>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Blue Team</th>
      <th scope="col">Red Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <div class="input-group input-group-md">
         <input type="text" class="form-control" placeholder="Blue team champion 1">
         <span class ="input-group-btn input-space">
         <input type="text" class="form-control" placeholder="level">
         </span>
        </div>
     </td>
      <td>
          <div class="input-group input-group-md">
           <input type="text" class="form-control" placeholder="Red team champion 1">
           <span class ="input-group-btn input-space">
            <input type="text" class="form-control" placeholder="level">
            </span>
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        <div class="input-group input-group-md">
         <input type="text" class="form-control" placeholder="Blue team champion 1">
         <span class ="input-group-btn input-space">
         <input type="text" class="form-control" placeholder="level">
         </span>
        </div>
     </td>
      <td>
          <div class="input-group input-group-md">
           <input type="text" class="form-control" placeholder="Red team champion 1">
           <span class ="input-group-btn input-space">
           <input type="text" class="form-control" placeholder="level">
           </span>
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
        <div class="input-group input-group-md">
         <input type="text" class="form-control" placeholder="Blue team champion 2">
         <span class ="input-group-btn input-space">
         <input type="text" class="form-control" placeholder="level">
         </span>
        </div>
     </td>
      <td>
          <div class="input-group input-group-md">
           <input type="text" class="form-control" placeholder="Red team champion 3">
           <span class ="input-group-btn input-space">
           <input type="text" class="form-control" placeholder="level">
           </span>
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
        <div class="input-group input-group-md">
         <input type="text" class="form-control" placeholder="Blue team champion 4">
         <span class ="input-group-btn input-space">
         <input type="text" class="form-control" placeholder="level">
         </span>
        </div>
     </td>
      <td>
          <div class="input-group input-group-md">
           <input type="text" class="form-control" placeholder="Red team champion 4">
           <span class ="input-group-btn input-space">
           <input type="text" class="form-control" placeholder="level">
           </span>
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>
        <div class="input-group input-group-md">
         <input type="text" class="form-control" placeholder="Blue team champion 5">
         <span class ="input-group-btn input-space">
         <input type="text" class="form-control" placeholder="level">
         </span>
        </div>
     </td>
      <td>
          <div class="input-group input-group-md">
           <input type="text" class="form-control" placeholder="Red team champion 5">
           <span class ="input-group-btn input-space">
           <input type="text" class="form-control" placeholder="level">
           </span>
          </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-dark">
  <thead>
    <th colspan="4">Map State</th>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Blue Team</th>
      <th scope="col">Red Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Gold</th>
      <td><input type="text" class="form-control" placeholder="Blue Team Gold"></td>
      <td><input type="text" class="form-control" placeholder="Red Team Gold"></td>
    </tr>
    <tr>
      <th scope="row">Kills</th>
      <td><input type="text" class="form-control" placeholder="Blue Team Kills"></td>
      <td><input type="text" class="form-control" placeholder="Red Team Kills"></td>
    </tr>
    <tr>
      <th scope="row">Towers</th>
      <td><input type="text" class="form-control" placeholder="Blue Team Towers Alive"></td>
      <td><input type="text" class="form-control" placeholder="Red Team Towers Alive"></td>
    </tr>
    <tr>
      <th scope="row">Inhibs</th>
      <td><input type="text" class="form-control" placeholder="Blue Team Inhibitors Alive"></td>
      <td><input type="text" class="form-control" placeholder="Red Team Inhibitors Alive"></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-dark">
  <thead>
    <th colspan="4">Monster Objectives</th>
    <tr>
     <th scope="col">Blue Team</th>
    <th scope="col">Red Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cloud Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="b_air" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_air" id="option2" autocomplete="off" value=1 > 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_air" id="option3" autocomplete="off" value=2 > 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_air" id="option3" autocomplete="off" value=3 > 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_air" id="option3" autocomplete="off" value=4 > 4
          </label>
        </div>
      </td>
      <td>Cloud Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="r_air" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_air" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_air" id="option3" autocomplete="off" value=2> 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_air" id="option3" autocomplete="off" value=3> 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_air" id="option3" autocomplete="off" value=4> 4
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>Infernal Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="b_fire" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_fire" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_fire" id="option3" autocomplete="off" value=2> 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_fire" id="option3" autocomplete="off" value=3> 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_fire" id="option3" autocomplete="off" value=4> 4
          </label>
        </div>
      </td>
      <td>Infernal Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="r_fire" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_fire" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_fire" id="option3" autocomplete="off" value=2> 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_fire" id="option3" autocomplete="off" value=3> 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_fire" id="option3" autocomplete="off" value=4> 4
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>Mountain Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="b_earth" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_earth" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_earth" id="option3" autocomplete="off" value=2> 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_earth" id="option3" autocomplete="off" value=3> 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_earth" id="option3" autocomplete="off" value=4> 4
          </label>
        </div>
      </td>
      <td>Mountain Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="r_earth" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_earth" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_earth" id="option3" autocomplete="off" value=2> 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_earth" id="option3" autocomplete="off" value=3> 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_earth" id="option3" autocomplete="off" value=4> 4
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>Ocean Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="b_water" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_water" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_water" id="option3" autocomplete="off" value=2> 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_water" id="option3" autocomplete="off" value=3> 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_water" id="option3" autocomplete="off" value=4> 4
          </label>
        </div>
      </td>
      <td>Ocean Drakes</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="r_water" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_water" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_water" id="option3" autocomplete="off" value=2> 2
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_water" id="option3" autocomplete="off" value=3> 3
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_water" id="option3" autocomplete="off" value=4> 4
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>Rift Heralds</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="b_herald" id="option1" autocomplete="off" value=0 checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_herald" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="b_herald" id="option3" autocomplete="off" value=2> 2
          </label>
        </div>
      </td>
      <td>Rift Heralds</br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="r_herald" id="option1" autocomplete="off" checked> 0
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_herald" id="option2" autocomplete="off" value=1> 1
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="r_herald" id="option3" autocomplete="off" value=2> 2
          </label>
        </div>
      </td>
    </tr>
    

  </tbody>

</table>
<table class="table table-striped table-dark">
  <tr>
  <th>Baron Nashor:</th>
  <th>Elder Drake:</th>
  </tr>
  <tr>
    <th>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <!-- 0 = blue team, 1 = red team, 2 = neither -->
        <label class="btn btn-secondary active">
          <input type="radio" name="baron" value=2 checked> Neither</label>
        <label class="btn btn-secondary">
          <input type="radio" name="baron" value=0> Blue Team</label>
        <label class="btn btn-secondary">
          <input type="radio" name="baron" value=1> Red Team</label>
      </div>
    </th>
    <th>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <!-- 0 = blue team, 1 = red team, 2 = neither -->
        <label class="btn btn-secondary active">
          <input type="radio" name="elder" value=2 checked> Neither</label>
        <label class="btn btn-secondary">
          <input type="radio" name="elder" value=0> Blue Team</label>
        <label class="btn btn-secondary">
          <input type="radio" name="elder" value=1> Red Team</label>
        
      </div>
    </th>
  </tr>
  <tr>
</table>


<div class="sidenav">
  <div class="circle">54.23%</div>
</div>

<div class="sidenav" style="top:540px;">
  <div class="circle" style="background-color:tomato;">45.77%</div>
</div>

<div class="sidenav" style="top:395px; left:1600px;">
  <button class="btn-circle" style="background-color:#2b9763;">Calculate</button>
</div>
 
</div>
{%endblock%}
