{%extends 'Base.html'%}

{%block head%}
{%endblock%}

{%block body%}
<div class ="container">
<div class="jumbotron text-center hoverable p-">
    

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-2 offset-md- mx-0 my-0">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="../static/img/champion/Aatrox.png" style ="height:150%;" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
        <h1>Aatrox</h1>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-8 text-md-left ml-3 mt-0">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h1 class="h1 pb-1"><i class="fas fa-desktop pr-1"></i> Aatrox - Summoners Rift</h1>
      </a>

      <h4 class="h4 mb-4">6/0/4 Top Lane</h4>

      <p class="font-weight-normal">whatever other information we want to display.</p>
      <p class="font-weight-normal">by <a><strong>Gametime</strong></a>, 45:32</p>

      <a class="btn btn-success">Go to graph</a>

    </div>
    <!-- Grid column -->
</div>
</div>
<div class ="container">
    <div class="jumbotron text-center hoverable p-">
        
    
      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-md-2 offset-md- mx-0 my-0">
    
          <!-- Featured image -->
          <div class="view overlay">
            <img src="../static/img/champion/Akali.png" style ="height:150%;" class="img-fluid" alt="Sample image for first version of blog listing">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
            <h1>Aatrox</h1>
          </div>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-8 text-md-left ml-3 mt-0">
    
          <!-- Excerpt -->
          <a href="#!" class="green-text">
            <h1 class="h1 pb-1"><i class="fas fa-desktop pr-1"></i> Akali - Summoners Rift</h1>
          </a>
    
          <h4 class="h4 mb-4">0/13/4 Top Lane</h4>
    
          <p class="font-weight-normal">whatever other information we want to display.</p>
          <p class="font-weight-normal">by <a><strong>Gametime</strong></a>, 45:32</p>
    
          <a class="btn btn-success">Go to graph</a>
    
        </div>
        <!-- Grid column -->
 </div>
 </div>

{%endblock%}
